In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pycopula

In [2]:
hsbc=pd.read_excel('Price History_20220502_1317.xlsx')
hangseng=pd.read_excel('Price History_20220502_1317 (1).xlsx')
hsbc.head()

,Exchange Date,Close,Net,Open,Low,High,Volume,Turnover - USD,Flow,%Chg
0,03-Jan-2020,38.76,-0.61,38.63,38.61,38.93,"1,694,757","65,765,627.48","-65,765,627.48",-0.0155
1,06-Jan-2020,38.63,-0.13,38.28,38.28,38.65,"1,807,548","69,658,329.93","-135,423,957.41",-0.0034
2,07-Jan-2020,38.34,-0.29,38.27,38.22,38.39,"2,643,382","101,242,350.10","-236,666,307.51",-0.0075
3,08-Jan-2020,38.25,-0.09,37.90,37.90,38.38,"2,299,602","87,808,778.78","-324,475,086.29",-0.0023
4,09-Jan-2020,38.50,0.25,38.47,38.28,38.52,"1,542,541","59,259,787.16","-265,215,299.13",0.0065

we standardize the return of HSBC and hangseng bank.

In [3]:
hsbc_rtns=pd.DataFrame(hsbc['%Chg'].values,index=hsbc['Exchange Date'])

hsbc_rtns.head()

                    0
Exchange Date
03-Jan-2020   -0.0155
06-Jan-2020   -0.0034
07-Jan-2020   -0.0075
08-Jan-2020   -0.0023
09-Jan-2020    0.0065

In [6]:
from arch.univariate import arch_model
garch=arch_model(hsbc_rtns*100,mean='ZERO',vol='GARCH',p=1,o=0,q=1,dist='Normal')
res=garch.fit()
print(res.summary())

Iteration:      1,   Func. Count:      5,   Neg. LLF: 7392.750874981273
Iteration:      2,   Func. Count:     11,   Neg. LLF: 601.875728846076
Iteration:      3,   Func. Count:     17,   Neg. LLF: 594.4185824975639
Iteration:      4,   Func. Count:     22,   Neg. LLF: 591.7382708750426
Iteration:      5,   Func. Count:     27,   Neg. LLF: 592.39513741369
Iteration:      6,   Func. Count:     32,   Neg. LLF: 591.1036919132821
Iteration:      7,   Func. Count:     36,   Neg. LLF: 591.1023964142598
Iteration:      8,   Func. Count:     40,   Neg. LLF: 591.1023888712448
Iteration:      9,   Func. Count:     43,   Neg. LLF: 591.1023888712123
Optimization terminated successfully    (Exit mode 0)
            Current function value: 591.1023888712448
            Iterations: 9
            Function evaluations: 43
            Gradient evaluations: 9
                       Zero Mean - GARCH Model Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.000
Mean Model:                 Zero Mean   Adj. R-squared:                  0.004
Vol Model:                      GARCH   Log-Likelihood:               -591.102
Distribution:                  Normal   AIC:                           1188.20
Method:            Maximum Likelihood   BIC:                           1198.79
                                        No. Observations:                  252
Date:                Mon, May 02 2022   Df Residuals:                      252
Time:                        19:07:55   Df Model:                            0
                              Volatility Model
===========================================================================
                 coef    std err          t      P>|t|     95.0% Conf. Int.
---------------------------------------------------------------------------
omega          0.4733      0.290      1.632      0.103 [-9.519e-02,  1.042]
alpha[1]       0.1307  6.696e-02      1.952  5.088e-02 [-5.005e-04,  0.262]
beta[1]        0.8108  5.332e-02     15.206  3.231e-52    [  0.706,  0.915]
===========================================================================

Covariance estimator: robust

so garch model for the return of HSBC is 
$\sigma_{t+1}^2=0.00004733+0.00001307 R_t^2 +0.00008108 \sigma_t^2 $

In [19]:
def garch(r,var):
    var2=0.00004733+0.00001307*r+0.00008108*var
    return var2
var=(hsbc_rtns.iloc[0,:])**2
for i in hsbc_rtns.index:
    v=garch(hsbc_rtns.loc[i,:],var)
    hsbc_rtns['std_t']=hsbc_rtns.loc[i,:]/v

In [18]:
var

0    0.00024
Name: 03-Jan-2020, dtype: float64